
@font-face {
    font-family: 'HoneyScriptLight';
    src: url('fonts/honeyscript-light.eot');
    src: url('fonts/honeyscript-light.eot') format('embedded-opentype'),
         url('fonts/honeyscript-light.woff') format('woff'),
         url('fonts/honeyscript-light.ttf') format('truetype'),
         url('fonts/honeyscript-light.svg#HoneyScriptLight') format('svg');
}

@font-face {
    font-family: 'PlustoSans';
    src: url('fonts/plutosansmedium.eot');
    src: url('fonts/plutosansmedium.eot') format('embedded-opentype'),
         url('fonts/plutosansmedium.woff') format('woff'),
         url('fonts/plutosansmedium.ttf') format('truetype'),
         url('fonts/plutosansmedium.svg#plutosansmedium') format('svg');
}

body{
	font: 800 40px 'PlustoSans', helvetica, arial, sans-serif;
	overflow: hidden;
	}	

	#container{ 
		display: table;  
		height:100%; 
		position:absolute;
	   	width:100%;
		}

		#container #copy {
			color: #fff;
			display: table-cell;
			font: 60px 'HoneyScriptLight','PlustoSans', Arial, Sans-serif;
			text-align:center;
	    	vertical-align: middle;
	    	text-transform: capitalize;
			}
			
			#container #copy #term{
				cursor: pointer;
				}
			
				#container #copy #term span{
					color: #cc2000;
					display: block;
					font: 150px 'PlustoSans', Arial, Sans-serif;
					letter-spacing: 6px;
					line-height: 1em;
					margin: 18px 0 0 0;
					text-transform: uppercase;
					}

		#container #line {
			background: #fff;
			cursor: pointer;
			height: 1px;
			margin: 40px auto 70px auto;
			width: 260px;
			}
				
		#container #tweet{
		    cursor: pointer;
		    position: relative;
		    top: 15px!important;
		    }	
		
		#container .twitter-share-button{
		    width: 76px;
		    }
		    
	#dwp{
		bottom: 20px;
		display: block;
		height: 27px;
		position: absolute;
		text-align: center;
		width: 100%;
		}

